// Variáveis globais
$font-stack: Roboto, sans-serif;
$background-color: #f5f6fa;
$header-color: #182C61;
$product-btn-color: #44bd32;
$product-btn-hover: #4cd137;
$text-color-white: #fff;
$container-max-width: 1024px;
