// Importando os módulos
@use 'reset';
@use 'variables';
@use 'mixins';
@use 'header';
@use 'products';
@use 'responsive';

// Configuração global
body {
    background-color: variables.$background-color;
}
.container {
    max-width: variables.$container-max-width;
    width: 100%;
    margin: 0 auto;
}
